body{
    background-color: #eee;
}
.wrapper {
    margin-top: 100px;
    width: 600px;
    height: auto;
    background-color: #fff;
    color: rgb(124, 124, 124);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
    box-sizing: border-box;
    overflow: hidden;
    

}

.btn{
    width: 100%;
}
.btn-login{
    background-color: #313e44;
    border-color: #4a4f56;
    color: #eee;
}
.btn-login:hover{
    background-color: #273135;
    
    color: #fff;
}

.form-label {
    font-weight: 600;
}

.logo img{
    
    height: 60%;
    width: 60%;
    padding: 20px 0 50px 0; 
   
}

.kanan{
    padding: 50px 50px;
    box-sizing: border-box;
}
.kiri{
    background-color: #313e44;
    border-radius: 0 50px 50px 0;
    box-sizing: border-box;
    
}

.container {
    padding: 0;
}

.judul{
    text-align: center;
    padding: 40px 15px 5px 15px;
    font-size: 16px;
    color: #eee;
    font-weight: 600;
}

