a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.wrapper {
    height: 800px;
}
.header {
    height: 450px;
    background-color: #2f3e46;
}
.sidebar {
    min-height: 800px;
    background-color: #fff;
    padding: 20px 0;
}
.logo img {
    padding: 30px;
    height: 17%;
    width: 17%;
}
.title {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}
.menus ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.menus-block li {
    height: 50px;
    position: relative;
}

.menus-block li a {
    color: #555;
}

.menus-block li a:hover {
    color: #222;
}

.menu-link {
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #eee;
}

.icon {
    display: inline-block;
    vertical-align: center;
    text-align: center;
    width: 28px;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 25px;
    color: #444;
}

.menu-link:hover .icon {
    color: #222;
}

.main-wrapper {
    background-color: #f0f0f0;
    padding: 40px 20px;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.nav-top {
    margin-top: 5px;
}

.nav-top a {
    font-size: 18px;
    color: #757575;
}
.nav-p {
    margin-top: 20px;
}

.nav-icon {
    font-size: 20px;
    background-color: #bdbdbd;
    color: #757575;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    text-align: center;
}

.nav-link {
    padding: 2px 2px;
}

.profileSum {
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
}
.profile-img img {
    width: 150px;
    height: 150px;
    border: 5px solid #eee;
    border-radius: 50%;
    margin: 30px;
}

.content-item {
    width: 90%;
    height: auto;
    background-color: #fff;
    margin: 20px 10px;
    border-radius: px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
    padding: 20px;
}

.content-item tr {
    border-color: #eee;
}
.table > :not(:last-child) > :last-child > * {
    border-color: #eee;
}

.item {
    display: inline-block;
    margin: 20px 10px;
}
.itemlist {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
    padding: 30px 30px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #666;
    line-height: 50%;
    margin: 10px;
}

.itemlist .icon {
    margin: 0;
    font-size: 32px;
    width: auto;
    vertical-align: middle;
    color: #666;
    background-color: #eee;
    padding: 8px 6px;
    border-radius: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 24px;
    color: #666;
}
.content h2 {
    margin: 0 0 50px 10px;
}

.content .row {
    margin-left: 0;
    padding-left: 0;
}

.transaksi {
    margin-top: 100px;
}
.btn-primary {
    width: 100%;
    background-color: #313e44;
    border-color: #4a4f56;
    color: #eee;
}

.btn-primary:hover {
    background-color: #273135;

    color: #fff;
}

.btn-none {
    border: 0;
    background: 0;
}

table .icon {
    margin: 0;
}

.fa-info-circle {
    color: #273135;
}
.fa-edit {
    color: #5466b8;
}
.fa-trash-alt {
    color: #b85472;
}
.sukses {
    color: rgb(35, 151, 35);
    font-weight: 600;
}

.pending {
    color: rgb(202, 166, 68);
    font-weight: 600;
}

.gagal {
    color: rgb(202, 68, 68);
    font-weight: 600;
}

tr:hover {
    background-color: rgb(250, 248, 248);
}

.content-list {
    padding: 50px 100px;
}

.content-list p {
    margin: 0;
}

/* CSS Account */
.account__image {
    display: flex;
}

.account__image img {
    max-width: 120px;
    border-radius: 15px;
}

.account__image button {
    max-width: 120px;
    margin: 10px 0;
}

.account label {
    font-weight: 500;
}

.account__container__content {
    margin: 15px 0;
}
